.home-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.home-page-content {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: rgba(255, 255, 255, 0.336);
}

.right-side {
    max-width: 250px;
    font-size: 1.5rem;
    text-align: center;
}

.home-shopping-button {
    background: slategray;
    color: cyan;
    font-size: 1.5rem;
    cursor: pointer;
    padding: .5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.705);
    position: relative;
    z-index: 2;
    border-radius: 10px;
    transition: .5s;
}

.home-shopping-button:hover {
    color: rgb(179, 238, 63);
}

.home-shopping-button::after {
    content: " ";
    background: conic-gradient(from var(--angle), cyan, yellowgreen, cyan);
    position: absolute;
    inset: -10px;
    filter: blur(5px);
    z-index: -2;
    border-radius: inherit;
    animation: spinning 3s linear infinite;
}
.home-shopping-button::before {
    content: " ";
    background: black;
    position: absolute;
    inset: -8px;
    z-index: -1;
    border-radius: inherit;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits:false
}

@keyframes spinning {
    from {
        --angle: 0deg
    }
    to {
        --angle: 360deg
}
}
